<div class="container">
	<div class="row">
		<section class="addPerson">
			<form class="form-horizontal col-sm-offset-4" name="addPersonForm" ng-controller="addFormController" novalidate>
				<h4 class="note">Lomakkeen kaikki kentät ovat pakollisia.</h4>
				<!-- Etunimi -->
				<div class="form-group" ng-class="{ 'has-error' : addPersonForm.firstName.$invalid && !addPersonForm.firstName.$pristine || (addPersonForm.submitted && addPersonForm.firstName.$pristine), 'has-success' : addPersonForm.firstName.$valid && !addPersonForm.firstName.$pristine }">
				    <label class="col-sm-2 control-label" for="firstName">Etunimi</label>
					<div class="col-sm-4">
				    	<input ng-model="person.firstName" type="text" class="form-control" id="firstName" name="firstName" placeholder="John" required />
				    	<div class="error-container" 
				            ng-show="addPersonForm.firstName.$dirty && addPersonForm.firstName.$invalid && addPersonForm.submitted || (addPersonForm.submitted && addPersonForm.firstName.$pristine)">
					        <small class="error">
					            Etunimi kenttä on pakollinen.
					        </small>
				      	</div>
					</div>
				</div>
				<!-- Sukunimi -->
				<div class="form-group" ng-class="{ 'has-error' : addPersonForm.lastName.$invalid && !addPersonForm.lastName.$pristine || (addPersonForm.submitted && addPersonForm.lastName.$pristine), 'has-success' : addPersonForm.lastName.$valid && !addPersonForm.lastName.$pristine }">
					<label class="col-sm-2 control-label" for="lastName">Sukunimi</label>
					<div class="col-sm-4">
					    <input ng-model="person.lastName" type="text" class="form-control" id="lastName" name="lastName" placeholder="Doe" required />
					    <div class="error-container" 
				            ng-show="addPersonForm.lastName.$dirty && addPersonForm.lastName.$invalid && addPersonForm.submitted || (addPersonForm.submitted && addPersonForm.lastName.$pristine)">
					        <small class="error">
					            Sukunimi kenttä on pakollinen.
					        </small>
				      	</div>
					</div>
				</div>
				<!-- Sähköposti -->
				<div class="form-group" ng-class="{ 'has-error' : addPersonForm.emailAddress.$invalid && !addPersonForm.emailAddress.$pristine || (addPersonForm.submitted && addPersonForm.emailAddress.$pristine), 'has-success' : addPersonForm.emailAddress.$valid && !addPersonForm.emailAddress.$pristine }">
				    <label class="col-sm-2 control-label" for="emailAddress">Sähköposti</label>
				    
					<div class="col-sm-4">
					    <input ng-model="person.emailAddress" type="email" class="form-control" id="emailAddress" name="emailAddress" placeholder="hello@example.com" required />
					    <div class="error-container" 
				            ng-show="addPersonForm.emailAddress.$dirty && addPersonForm.emailAddress.$invalid && addPersonForm.submitted || (addPersonForm.submitted && addPersonForm.emailAddress.$pristine)">
					        <small class="error">
					            Sähköposti kenttä on pakollinen. Varmista, että sähköpostiosoitteesi on oikeassa muodossa.
					        </small>
				      	</div>
					</div>
				</div>
				<!-- Henkilötunnus -->
				<div class="form-group" ng-class="{ 'has-error' : addPersonForm.socialsecurityNumber.$invalid && !addPersonForm.socialsecurityNumber.$pristine || (addPersonForm.submitted && addPersonForm.socialsecurityNumber.$pristine), 'has-success' : addPersonForm.socialsecurityNumber.$valid && !addPersonForm.socialsecurityNumber.$pristine }">
				    <label class="col-sm-2 control-label" for="socialsecurityNumber">Henkilötunnus</label>
					<div class="col-sm-4">
				    	<input ng-model="person.socialsecurityNumber" duplicate type="text" ng-pattern="/^[0-9]{6}[\-\+Aa][0-9]{3}[0-9A-Za-z]$/" class="form-control" id="socialsecurityNumber" name="socialsecurityNumber" placeholder="131052-308T" required />
				    	<div class="error-container" 
				            ng-show="addPersonForm.socialsecurityNumber.$dirty && addPersonForm.socialsecurityNumber.$invalid && addPersonForm.submitted || (addPersonForm.submitted && addPersonForm.socialsecurityNumber.$pristine)">
					        <small class="error">
					            Henkilötunnus kenttä on pakollinen.
					        </small>
				      	</div>
				      	<div class="error-container" 
				            ng-show="addPersonForm.socialsecurityNumber.$error.duplicate">
					        <small class="error">
					            Henkilö kyseisellä henkilötunnuksella on jo lisätty tietokantaan.
					        </small>
				      	</div>
				    </div>
				</div>
				<!-- Syntymäaika -->
				<div class="form-group" ng-class="{ 'has-error' : addPersonForm.birthdate.$invalid && !addPersonForm.birthdate.$pristine || (addPersonForm.submitted && addPersonForm.birthdate.$pristine), 'has-success' : addPersonForm.birthdate.$valid && !addPersonForm.birthdate.$pristine }">
				    <label class="col-sm-2 control-label" for="birthdate">Syntymäaika</label>
					<div class="col-sm-4">
				    	<input ng-model="person.birthdate" type="date" class="form-control" id="birthdate" placeholder="1952-10-13 (yyyy-MM-dd)" name="birthdate" required />
				    	<div class="error-container" 
				            ng-show="addPersonForm.birthdate.$dirty && addPersonForm.birthdate.$invalid && addPersonForm.submitted || (addPersonForm.submitted && addPersonForm.birthdate.$pristine)">
					        <small class="error">
					            Syntymäaika kenttä on pakollinen.
					        </small>
				      	</div>
				    </div>
				</div>
				<button type="submit" ng-click="addPerson(person);" class="col-sm-offset-2 btn btn-primary">Lisää henkilö</button>
			</form>
		</section>
	</div>
</div>