<div class="container">
	<div class="row">
		<section class="addPerson">
			<form class="form-horizontal" name="addPersonForm2" ng-controller="editFormController" novalidate>
				<h4 class="note">Lomakkeen kaikki kentät ovat pakollisia.</h4>
				<!-- Etunimi -->
				<div class="form-group" ng-class="{ 'has-error' : addPersonForm2.firstName.$invalid, 'has-success' : addPersonForm2.firstName.$valid && !addPersonForm2.firstName.$pristine }">
				    <label class="col-sm-2 control-label" for="firstName">Etunimi</label>
					<div class="col-sm-4">
				    	<input ng-model="personEdited.firstName" type="text" class="form-control" id="firstName" name="firstName" placeholder="John" required />
				    	<div class="error-container" 
				            ng-show="addPersonForm2.firstName.$dirty && addPersonForm2.firstName.$invalid">
					        <small class="error">
					            Etunimi kenttä on pakollinen.
					        </small>
				      	</div>
					</div>
				</div>
				<!-- Sukunimi -->
				<div class="form-group" ng-class="{ 'has-error' : addPersonForm2.lastName.$invalid, 'has-success' : addPersonForm2.lastName.$valid && !addPersonForm2.lastName.$pristine }">
					<label class="col-sm-2 control-label" for="lastName">Sukunimi</label>
					<div class="col-sm-4">
					    <input ng-model="personEdited.lastName" type="text" class="form-control" id="lastName" name="lastName" placeholder="Doe" required />
					    <div class="error-container" 
				            ng-show="addPersonForm2.lastName.$dirty && addPersonForm2.lastName.$invalid">
					        <small class="error">
					            Sukunimi kenttä on pakollinen.
					        </small>
				      	</div>
					</div>
				</div>
				<!-- Sähköposti -->
				<div class="form-group" ng-class="{ 'has-error' : addPersonForm2.emailAddress.$invalid, 'has-success' : addPersonForm2.emailAddress.$valid && !addPersonForm2.emailAddress.$pristine }">
				    <label class="col-sm-2 control-label" for="emailAddress">Sähköposti</label>
				    
					<div class="col-sm-4">
					    <input ng-model="personEdited.emailAddress" type="email" class="form-control" id="emailAddress" name="emailAddress" placeholder="hello@example.com" required />
					    <div class="error-container" 
				            ng-show="addPersonForm2.emailAddress.$dirty && addPersonForm2.emailAddress.$invalid">
					        <small class="error">
					            Sähköposti kenttä on pakollinen. Varmista, että sähköpostiosoitteesi on oikeassa muodossa.
					        </small>
				      	</div>
					</div>
				</div>
				<!-- Henkilötunnus -->
				<div class="form-group">
				    <label class="col-sm-2 control-label" for="socialsecurityNumber">Henkilötunnus</label>
					<div class="col-sm-4">
				    	<input ng-model="personEdited.socialsecurityNumber" type="text" ng-minlength="11" ng-maxlength="11" class="form-control" id="socialsecurityNumber" name="socialsecurityNumber" placeholder="131052-308T" disabled />
				    	<small class="error">Henkilötunnuksen muokkaus ei ole mahdollista.</small>
				    </div>
				</div>
				<!-- Syntymäaika -->
				<div class="form-group">
				    <label class="col-sm-2 control-label" for="birthdate">Syntymäaika</label>
					<div class="col-sm-4">
				    	<input ng-model="personEdited.birthdate" type="date" class="form-control" id="birthdate" name="birthdate" disabled />
					    <small class="error">Syntymäajan muokkaus ei ole mahdollista.</small>
				    </div>
				</div>
				<div class="col-sm-offset-2">
					<button type="submit" class="btn btn-primary" ng-disabled="addPersonForm2.$invalid" data-dismiss="modal" ng-click="editPerson(personEdited);">Tallenna muutokset</button>
					<!--<button type="button" class="btn btn-default" data-dismiss="modal">Sulje</button>-->
				</div>
			</form>
		</section>
	</div>
</div>